!!! 5
html
  head
    meta(charset='utf-8')
    title Ember Starter Kit
    link(rel='stylesheet', href='vendor/normalize-css/normalize.css')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    script(type='text/x-handlebars')
      include main

    script#about(type='text/x-handlebars')
      include about

    script#posts(type='text/x-handlebars')
      include posts

    script#post(type='text/x-handlebars')
      include post

    script(id="post/_edit", type='text/x-handlebars')
      include post_edit


    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='vendor/handlebars/handlebars.js')
    script(src='vendor/ember/ember.js')
    script(src='js/app.js')
